@model FIT_AISAMA.Models.LocationPlace.LocationPlaceModel

@{
    ViewBag.Title = "Место расположения";
}
<div class="col-sm-12">
    <h2>@(Model.Id == 0 ? "Создание места расположения" : "Редактирование места расположения")</h2>
</div>
<div class="col-sm-4">
@using (Html.BeginForm("SaveLocationPlace","LocationPlace", FormMethod.Post, new {role= "form", @class = "form-group"})) {
    @Html.ValidationSummary(true)


        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.LocationName)
            @Html.TextBoxFor(model => model.LocationName, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.LocationName)
        </div>

        <p>
            <input class="btn btn-success" type="submit" value="Сохранить" />
        </p>
}
</div>
<div class="col-sm-12">
    @Html.ActionLink("Вернуться к списку", "Index")
</div>

