@model FIT_AISAMA.Models.IncomeSource.IncomeSourceModel

@{
    ViewBag.Title = "CreateIncomeSource";
}

<div class="col-sm-3">
<h2>CreateIncomeSource</h2>

@using (Html.BeginForm("CreateIncomeSource", "IncomeSource", FormMethod.Post, new { role = "form", @class = "form-group"}))
{
    @Html.ValidationSummary(true)       
        <div class="form-group">
        @Html.LabelFor(model => model.Source)
   
            @Html.TextBoxFor(model => model.Source, new{@class="form-control", placeholder="Название нового источника"})
            @Html.ValidationMessageFor(model => model.Source)
             </div>
       


        <p>            
            <input class="btn btn-success" type="submit" value="Создать" />
        </p>
   
    
}
</div>
<div class="col-sm-12">
    @Html.ActionLink("Вернуться к списку", "Index")
</div>


