<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css", "~/Content/bootstrap.css", 
    "~/Content/General.css", "~/Content/bootstrap-select.min.css", 
    "~/Content/bootstrap-datetimepicker.min.css",
    "~/Content/dataTables.bootstrap.min.css")
    @Styles.Render("~/Content/bootstrap/bootstrap-theme.css")
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/moment-with-locales.min.js")

    @Scripts.Render("~/Scripts/bootstrap/bootstrap.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.js")
    @Scripts.Render("~/Scripts/bootstrap-select.min.js")
    @Scripts.Render("~/Scripts/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/dataTables.bootstrap.min.js")
    @Scripts.Render("~/Scripts/Initializator.js")
    @Scripts.Render("~/Scripts/CommonFunctions.js")
    
    
    
    
</head>
<body>
<div class="row">
    
        <nav id="MainMenu" class="col-sm-offset-1 col-sm-10 navbar navbar-default" style="color: #286090;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/Base/MainPage" class="navbar-brand">FIT_AISAMA</a>
                </div>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Прием МЦ", "RegistrateMaterialActive", "MaterialActive")</li>
                    <li>@Html.ActionLink("Распределение МЦ", "Distribution", "MaterialActive")</li>
                    <li>@Html.ActionLink("Список МЦ", "MaterialActiveMainPage", "MaterialActive")</li>
                    <li>@Html.ActionLink("Списание МЦ", "WriteOffMaterialActive", "MaterialActive")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Справочники
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Сотрудники", "Index", "Person")</li>
                            <li>@Html.ActionLink("Типы МЦ", "Index", "ActiveType")</li>
                            <li>@Html.ActionLink("Характеристики МЦ", "Index", "ActiveSpecificationType")</li>
                            <li>@Html.ActionLink("Источники", "Index", "IncomeSource")</li>
                            <li>@Html.ActionLink("Места расположения", "Index", "LocationPlace")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    
</div>
<div class="row">
    <div class="col-sm-offset-1">
        @RenderBody()
    </div>
</div>
@RenderSection("scripts", required: false)

</body>
<script type="text/javascript">
    $(document).ready(function() {
        jQuery.ajaxSettings.traditional = true;
        });
</script>
</html>
