@model FIT_AISAMA.Models.Person.EditPersonModel

@{
    ViewBag.Title = "CreatePerson";
}
<div class="col-sm-12">
    <h4>Создание нового сотрудника</h4>
</div>
<div class="col-sm-4">
    @using (Html.BeginForm("CreatePerson", "Person", FormMethod.Post, new{role="form", @class="form-group"})) {
        @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.LabelFor(model => model.FullName)
            @Html.TextBoxFor(model => model.FullName, new{@class="form-control capitalizeText", placeholder="ФИО нового сотрудника"})
            @Html.ValidationMessageFor(model => model.FullName)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Position)
            @Html.TextBoxFor(model => model.Position, new { @class = "form-control", placeholder = "Должность сотрудника" })
            @Html.ValidationMessageFor(model => model.Position)
        </div>

        <p>
            <input class="btn btn-success" type="submit" value="Создать" />
        </p>
    }
</div>


<div class="col-sm-12">
    @Html.ActionLink("Вернуться к списку", "Index")
</div>
<script type="text/javascript">
    $(document)
        .ready(function() {
            $(".capitalizeText")
                .keyup(function() {
                    $(this).val(commonFunctionHelper.capitalizeText($(this).val()));
                });
        });
</script>


