@model FIT_AISAMA.Models.Person.PersonDetailViewModel

@{
    ViewBag.Title = "PersonDetail";
}
<div class="col-sm-12">
<h4>Подробная информация по сотруднику</h4>
</div>
<div class="col-sm-8">
    <div class="col-md-4">
        
        <div class="form-group">
            @Html.LabelFor(model => model.FullName, new {@class="control-label"})
        
        
            <p class="form-control-static">
            @Html.DisplayFor(model => model.FullName)
            </p>
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.Position, new {@class = "control-label"})
            <p class="form-control-static">
            @Html.DisplayFor(model => model.Position)
            </p>
        </div>
    </div>
    
    @if (Model.MaterialActives.Any())
    {
        <div>
        @Html.DisplayNameFor(model => model.MaterialActives)
        
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Код</th>
                    <th>Наименование</th>
                    <th>Производитель</th>
                    <th>Место нахождения</th>
                    <th>Цена</th>
                </tr>
                @foreach (var item in Model.MaterialActives)
                {
                    <tr>
                        <td>@item.Code</td>
                        <td>@item.Name</td>
                        <td>@item.Manufacturer</td>
                        <td>@item.LocationPlace.LocationName</td>
                        <td>@item.Price</td>
                    </tr>
                }
            </table>
        </div>
    }

    <div class="col-sm-12" style="padding-top: 20px;">
        <div class="col-sm-1" style="padding-left: 0;">
             @using (Html.BeginForm("EditPerson", "Person", FormMethod.Get))
                  {
                      <input type="hidden" name="Id" value="@Model.Id"/>
                      <input type="submit" value="Изменить" class="btn btn-xs btn-warning"/>
                  }
        </div>
        
        <div class="col-sm-3">@Html.ActionLink("Вернуться к списку", "Index")</div>
        
    </div>
</div>

