@model FIT_AISAMA.Models.ActiveType.ActiveTypeModel

@{
    ViewBag.Title = "CreateActiveType";
}
<div class="col-sm-12">
    <h4>Создание нового типа</h4>
</div>
<div class="col-sm-4">
@using (Html.BeginForm("CreateActiveType", "ActiveType", FormMethod.Post, new { role = "form", @class = "form-group" }))
{
    @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.LabelFor(model => model.TypeCode)
            @Html.TextBoxFor(model => model.TypeCode, new { @class = "form-control", placeholder = "Код" })
            @Html.ValidationMessageFor(model => model.TypeCode)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TypeName)
            @Html.TextBoxFor(model => model.TypeName, new{@class="form-control", placeholder="Наименование"})
            @Html.ValidationMessageFor(model => model.TypeName)
        </div>
    
        <div class="form-group">
            @Html.LabelFor(model=> model.BaseAmmortizationMounth)
            <input name="BaseAmmortizationMounth" id="baseAmmortizationMounth" type="number" min="0" max="200" class="form-control" placeholder="Срок амортизации в месяцах"/>
        </div>
        if (!string.IsNullOrEmpty(ViewBag.WarningMessage))
        {
            <div class="alert alert-danger">@ViewBag.WarningMessage</div>
        }
        <p>
            <input class="btn btn-success" type="submit" value="Создать" />
        </p>
}
</div>
<div class="col-sm-12">
    @Html.ActionLink("Вернуться к списку", "Index")
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#baseAmmortizationMounth").keyup(function() {
            var minValue = parseInt($("#baseAmmortizationMounth").attr("min"));
            var maxValue = parseInt($("#baseAmmortizationMounth").attr("max"));
            var curValue = $(this).val();

            if (curValue < minValue)
                $(this).val(minValue);
            if (curValue > maxValue)
                $(this).val(maxValue);

        });
    });
</script>

