@model FIT_AISAMA.Models.ActiveSpecificationType.ActiveSpecificationTypeCreateModel

@{
    ViewBag.Title = "CreateActiveSpecificationType";
}

<div class="col-sm-12">
    <h2>Создание новой характеристики МЦ</h2>
</div>
<div class="col-sm-4">
@using (Html.BeginForm("CreateActiveSpecificationType","ActiveSpecificationType", FormMethod.Post, new {role = "form", @class="form-group"})) {
    @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.LabelFor(model => model.ActiveTypeId)
            <div>
                <select class="selectpicker" multiple name="ActiveTypeId" id="ActiveTypeId" title="Выберите типы МЦ" value="@Model.ActiveTypeId">
                    @foreach (var item in Model.ActiveTypeItems)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            @Html.ValidationMessageFor(model => model.ActiveTypeId)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TypeName)
            @Html.TextBoxFor(model => model.TypeName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TypeName)
        </div>
        
        <div class="row">
            <div class="form-group col-sm-8">
                <div class="row col-sm-9">
                    @Html.LabelFor(model => model.MeasureType)
                    @Html.TextBoxFor(model => model.MeasureType, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.MeasureType)
                </div>
                <div id="shortMeasureType" style="padding-top: 30px; display: none;" title="Как будет отображаться единица измерения" class="col-sm-3 bold"></div>
            </div>
        </div>

                    if (!string.IsNullOrEmpty(ViewBag.WarningMessage))
                    {
        <div class="alert alert-danger">@ViewBag.WarningMessage</div>
                    }
    
        <p>
            <input class="btn btn-success" type="submit" value="Создать" />
        </p>
}
</div>

<div class="col-sm-12">
    @Html.ActionLink("Вернуться к списку", "Index")
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#MeasureType").keyup(function() {
            var measure = this.value;
            setShortMeasureType(measure);
        });
    });
    function setShortMeasureType(measure) {
        var result = measure;
        if (measure.length > 4)
            result = measure.substring(0, 3) + ".";

        if (result.length)
            $("#shortMeasureType").show();
        else 
            $("#shortMeasureType").hide();
        
        $("#shortMeasureType").text(result);
    }
</script>

