@model FIT_AISAMA.Models.ActiveSpecificationType.ActiveSpecificationTypeViewModel

@{
    ViewBag.Title = "Index";
}

<div class="col-sm-12">
    <h2>Список типов характеристик МЦ<span id="showOrHideDeleted" class="glyphicon glyphicon-eye-close show-hide-deleted-icon" title="Показать/Скрыть удаленных сотрудников"></span></h2>
</div>
<div class="col-sm-12" style="padding-bottom: 5px;">
    <div id="searchBlock">
        <input type="hidden" value="@Model.ShowDeleted" id="withDeleted"/>
        <select name="activeTypeId[]" multiple id="activeTypeSelect" class="selectpicker" title="Сортировать по типу">
            @foreach (var item in Model.ActiveTypeList)
            {
                <option value="@item.Value" selected="@item.Selected">@item.Text</option>
            }
        </select>
    </div>
</div>
<div id="specificationTypesBlock" class="col-sm-7">

</div>

<script type="text/javascript">
    $(document).ready(function() {
        

           $("#searchBlock input, select").change(function() {
                    searchSpecificationTypes();
                });

            $("#showOrHideDeleted").click(function() {

                    var eyeElem = $("#showOrHideDeleted");

                    var currentState = $("#withDeleted").val() === "true";

                    if (currentState) {
                        eyeElem.removeClass("glyphicon-eye-open").addClass("glyphicon-eye-close");
                    } else {
                        eyeElem.removeClass("glyphicon-eye-close").addClass("glyphicon-eye-open");
                    }

                    $("#withDeleted").val(!currentState).trigger('change');
                });

        setTimeout(searchSpecificationTypes, 100);
    });

    function searchSpecificationTypes() {
        setSearchFormState(true);
        var typeId = $("#activeTypeSelect").val();

        var withDeleted = $("#withDeleted").val() === "true";
        var data = {
            ActiveTypes: typeId,
            WithDeleted: withDeleted
        };
        
        $("#specificationTypesBlock").load('@Url.Action("ActiveSpecificationTable", "ActiveSpecificationType")', data,
                function() {
                    setSearchFormState(false);
                });
    }

    function setSearchFormState(disabled) {
        if (disabled == undefined)
            disabled = false;

        if (disabled === true)
            $("#specificationTypesBlock").html('<div class="col-xs-12 text-center"><h3>Загрузка типов характеристик ...</h3></div>');

        $("#searchBlock input, select").each(function (i, elem) {
            $(elem).attr("disabled", disabled);
        });
    }
</script>