@model IEnumerable<FIT_AISAMA.Models.ActiveSpecificationType.ActiveSpecificationTypeViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="col-sm-12">
    <h2>Список типов характеристик МЦ</h2>
</div>
<div class="col-sm-6">
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActiveTypeCode)
        </th>
        <th style="width: 400px;">
            @Html.DisplayNameFor(model => model.TypeName)
        </th>
        <th></th>
    </tr>
    
    <tr>
            <td>
                <a href="ActiveSpecificationType/CreateActiveSpecificationType" title="Добавить новую характеристику">
                <div style="height: 21px; width: 100%;">
                    <span  class="glyphicon glyphicon-plus create-icon"></span>
                </div>
                </a>
            </td>
            <td>
                <a href="/ActiveSpecificationType/CreateActiveSpecificationType" title="Добавить новую характеристику">
                    <div style="height: 21px;"></div>
                </a>
            </td>
            <td>
                <a href="/ActiveSpecificationType/CreateActiveSpecificationType" title="Добавить новую характеристику">
                    <div style="height: 21px;"></div>
                </a>
            </td>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveTypeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td class="text-center">
                    <div class="col-sm-6" style="padding-left: 0;">
                        @Html.ActionLink("Детали", "SpecificationTypeDetail", new {id = item.Id})
                    </div>
                    <div class="col-sm-6" style="padding-left: 0;">
                        @using (Html.BeginForm("DeletSpecificationType", "ActiveSpecificationType" , FormMethod.Post))
                        {
                            <input type="hidden" name="Id" value="@item.Id"/>
                            <input class="btn btn-danger btn-xs" type="submit" value="Удалить"/>
                        }
                    </div>
                </td>
        </tr>
    }

</table>
</div>
